header {
  background-color: #222;
}

h1 {
  color: white;
  /*background-color: black;*/
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  padding: 20px 0px;
  margin: 0;
}

h2 {
  color: black;
  padding: 20px 0px;
  font-size: 2em;
  margin-bottom: 0;
}

body {
  background-color: black;
  padding: 100px 100px;
}

p {
  font-size: 0.85em;
  color: grey;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

#infoBox {
  display: flex;
  flex-flow: row wrap;
  background-color: #E6DEDC;
}

#ssshhhhhh {
  color: #E6DEDC;
  background-color: #E6DEDC;
}

#theStory p {
  border-width: 0 0 0 2px;
  border-style: dotted;
  border-color: grey;
  padding-left: 20px;
}

#theStory h2 {
  padding-left: 20px;
}

#theBasics {
  width: 300px;
  margin-left: 50px;
  padding: 0 0 50px 0;
}

#theStory {
  width: 300px;
}

#userIcon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#userIconContainer {
  padding: 30px 0 0 100px;
}
